{% extends 'base.html' %}

{% block content %}


<h1>상품 입고 내역</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="product-id">코드번호</label>
    <input type="text" required class="form-control" id="product-id" name="code">
  </div>
  <div class="form-group">
    <label for="quantity">수량</label>
    <input type="number" required class="form-control" id="quantity" name="quantity">
  </div>
  <button type="submit" required class="btn btn-primary">등록</button>
</form>
{% for inbound in allinbound %}
<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">코드: {{inbound.product.code}}</h5>
        <h5 class="mt-0">상품명: {{inbound.product.name}}</h5>
        <span>입고 수량: {{ inbound.quantity }}</span>
        <span>금액 :{{ inbound.amount }}</span>
        <span> - {{ inbound.product.created_at | timesince }} 전</span>
      </div>
      {% if product.author == user %}
      <div style="float: center">
        <span class="badge bg-danger">NEW</span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<hr>

{% endfor %}
{% endblock %}

<!-- 
product
quantity
date
amount -->